@model AracTakipSistemi.Models.Garages

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Garages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coord_X)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coord_X)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coord_Y)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coord_Y)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Convenience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Convenience)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
